<div class="container mt-4">
  @if ((cart$ | async)?.length !== 0 && !( loading$ | async)) {
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Cart Items</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of cart$ | async">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img
                  [src]="item.productId.image"
                  [alt]="item.name"
                  class="img-fluid rounded"
                />
              </div>
              <div class="col-md-6">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Price: ${{ item.price }}</p>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <!-- Example of input for quantity adjustment -->
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="
                      decrementQuantity(item.productId._id, item.quantity - 1)
                    "
                  >
                    -
                  </button>
                  <!-- add item.quantity here -->
                  <input
                    type="text"
                    class="form-control text-center"
                    [value]="item.quantity"
                    readonly
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="
                      incrementQuantity(item.productId._id, item.quantity + 1)
                    "
                  >
                    +
                  </button>
                </div>
                <button
                  class="btn btn-danger btn-sm mt-2"
                  (click)="removeProduct(item.productId._id)"
                >
                  Remove
                </button>
                <span class="text-center ms-2 text-primary">{{
                  item.price * item.quantity
                    | currency : "USD" : "symbol" : "1.2-2"
                }}</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><strong>Checkout Summary</strong></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div>Total Items: {{ (cart$ | async)?.length || 0 }}</div>
          </li>
          <li class="list-group-item">
            <div>
              Total Order Value:
              <strong>{{
                subtotal$ | async | currency : "USD" : "symbol" : "1.2-2"
              }}</strong>
            </div>
          </li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-primary btn-block" (click)="handleCheckout()">
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
  } @if ((cart$ | async)?.length == 0 && !(loading$ | async )) {
  <h1 class="mt-5 text-center">Cart is Empty add Products to view !!</h1>
  } @if (loading$ | async) {
  <app-loader></app-loader>
  }
</div>
