@if (!isLoading) {
<div class="main-card container ">
  <div class="row">
    <div class="col-md-6 img-div">
      <img [src]="product.image" class="img-fluid" alt="{{ product.name }}" />
      @if(product.stock <= 0){
        <span class="badge-stock">Out of Stock</span>}
    </div>
    <div class="col-md-6 mt-5 ">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-description">Description : {{ product.description }}</p>
      <p class="product-price">Price: ${{ product.price }}</p>
      
      <p class="product-rating">Rating: {{ product.rating }} / 5</p>
      <button class="btn btn-primary" (click)="addToCart(product._id)" [disabled]="product.stock <= 0">
        Add to Cart
      </button>
    </div>
  </div>
</div>
} @if (isLoading) {
<app-loader></app-loader>
}
