<nav class="sticky-top">
  <section class="navbar">
    <div class="logo-container">
      <h1>WEB CART</h1>
    </div>
    <div class="menu-item-container">
      <ul class="items">
        <li class="list-item">
          <a
            class="home"
            routerLink="/auth/login"
            routerLinkActive="active_item"
            >Login</a
          >
        </li>
        <li class="list-item">
          <a
            class="products"
            routerLink="/auth/register"
            routerLinkActive="active_item"
            >SignUp</a
          >
        </li>
      </ul>
    </div>
  </section>
</nav>
<router-outlet />
<footer>
  <section class="footer">
    <div class="container">
      <div class="row content-div">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="contact-info">
            <li>
              <i class="fas fa-map-marker-alt"></i> 1234 Saffron tower,
              Ahmedabad, India
            </li>
            <li><i class="fas fa-phone"></i> +1 234 567 890</li>
            <li><i class="fas fa-envelope"></i> info.webcart.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="quick-links">
            <li><a routerLink="/dashboard/home">Home</a></li>
            <li><a routerLink="/dashboard/products">Products</a></li>
            <li><a routerLink="/dashboard/cart">Cart</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 WEB CART. All rights reserved.</p>
    </div>
  </section>
</footer>

