<nav>
  <section class="navbar">
    <div class="logo-container">
      <h1>WEB CART</h1>
    </div>
    <div class="menu-item-container">
      <ul class="items">
        <li class="list-item">
          <a
            class="home"
            routerLink="/auth/login"
            routerLinkActive="active_item"
            >Login</a
          >
        </li>
        <li class="list-item">
          <a
            class="products"
            routerLink="/auth/register"
            routerLinkActive="active_item"
            >SignUp</a
          >
        </li>
      </ul>
    </div>
  </section>
</nav>
<router-outlet />
