@if (!isLoading) {
  @if(error.length === 0 ){

  
<div class="product-list">
  <div class="row">
    <div
      class="col-lg-3 col-md-4 col-sm-6 mb-4"
      *ngFor="let product of products"
    >
      <div class="card h-100">
        <img
          class="card-img-top"
          [src]="product.image"
          alt="{{ product.name }}"
          [routerLink]="['/dashboard/product-details', product._id]"
        />
        <div
          class="card-body"
          [routerLink]="['/dashboard/product-details', product._id]"
        >
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Rating: {{ product.rating }}</p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-primary btn-block"
            (click)="addToCart(product._id)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
  }
  @if (error) {
    <h4 class="text-center pt-5">{{error}}</h4>
  }
} @if (isLoading) {
<app-loader></app-loader>
}
