<div class="container mt-5">
  @if (!isLoading) { @if (error.length === 0) {
  <div class="product-list p-5">
    <h1 class="text-center mb-4">All Products</h1>

    <!-- Filters Section -->
    <div class="filters mb-4">
      <div class="row">
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (input)="filterProducts()"
          />
        </div>
        <div class="col-md-4">
          <select
            class="form-control"
            [(ngModel)]="selectedPriceRange"
            (change)="filterProducts()"
          >
            <option value="">Select Price Range</option>
            <option value="0-50">$0 - $50</option>
            <option value="51-100">$51 - $100</option>
            <option value="101-200">$101 - $200</option>
            <option value="201-500">$201 - $500</option>
            <option value="501-1000">$501 - $1000</option>
          </select>
        </div>
        <div class="col-md-4">
          <select
            class="form-control"
            [(ngModel)]="selectedRating"
            (change)="filterProducts()"
          >
            <option value="">Select Rating</option>
            <option value="1">1 Star & Up</option>
            <option value="2">2 Stars & Up</option>
            <option value="3">3 Stars & Up</option>
            <option value="4">4 Stars & Up</option>
            <option value="5">5 Stars</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 mb-4"
        *ngFor="let product of filteredProducts"
      >
        <div class="card product-card h-100">
          <img
            class="card-img-top"
            [src]="product.image"
            alt="{{ product.name }}"
            [routerLink]="['/dashboard/product-details', product._id]"
          />

          <div
            class="card-body"
            [routerLink]="['/dashboard/product-details', product._id]"
          >
            @if(product.stock <= 0){
            <span class="badge-stock">Out of Stock</span>}
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text product-description">
              {{ product.description }}
            </p>
            <p class="card-text product-price">
              <strong>${{ product.price }}</strong>
            </p>
            <p class="card-text product-rating">Rating: {{ product.rating }}</p>
          </div>
          <div class="card-footer text-center">
            <button
              class="btn btn-primary btn-block add-to-cart-btn"
              (click)="addToCart(product._id)"
              [disabled]="product.stock <= 0"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @if (error) {
  <h4 class="text-center pt-5">{{ error }}</h4>
  } } @if (isLoading) {
  <app-loader></app-loader>
  }
</div>
